table{
    border: 3px solid black;
}
html{
    background-color: greenyellow;
}
table{
    background-color: blueviolet;
    color: rgb(141, 141, 141);
    width: 90%;
    margin-bottom: 20px;
}
th:hover {
    background-color: blue;
}
td:hover {
    background-color: bisque;
}